body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: #171717;
}
#projects{
    text-align: center;
}
.contant{
    position: absolute;
    right: 2px;
    bottom: 2px;
}
.contant i {
    color: white;
    font-size: 25px;
    transform: scale(1);
    transition: 0.3s ease;
    cursor: pointer;
}
.abs{
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 20px;
    font-size: 2em;
}
.abs a{
    color: white;
}
.proful{
    background-color: #171717;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
}
.big-div{
    background-color: #272727;
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;
}
.small-div img{
    width: 30%;
}.small-div{position: relative;padding: 30px;}
.goto{
    cursor: pointer;
    padding: 20px 19%;
    position: absolute;
    left: 0;
    background-color: #292727;
    border: none;
    color: white;
}.rep{
    position: absolute;
    padding: 20px 20%;
    right: 0;
    background-color: #585555;
    border: none;
    color: white;
    cursor: pointer;
}
::-webkit-scrollbar{display: none;}
@media(max-width: 1600px){
    .big-div{
        width: 60%;
    }
}
@media(max-width: 750px){
    .big-div{
        width: 90%;
    }
    .goto, .rep{position: static;display: block; width: 100%;}
    a{text-decoration: none;}
}
