@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #171717;
    color: #3cb371 ;
} h1{text-align: center; color: #fff;}
.full{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 100px;
}
.right{
    width: 40%;
    line-height: 3em;text-align: center;
    font-size: 1em;
}
.left{
    width: 40%;
}.left img{
    border-radius: 100%;
    width:30%;
}
.abs{
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 20px;
    font-size: 2em;
}
.abs a{
    color: white;
}.edd{ color: red;}.fa-brands {color: white; font-size: 2em; transition: 0.3s ease;}.fa-brands:hover{color: #3cb371; transform: scale(1.3);}
@media(max-width: 1366px){
    .full{
        width: 85%;
    }
    .left img {width: 40%;}.right{width: 60%; margin-top: -39px;}
}
@media(max-width: 700px){
    .full{display: block; }
    .right{width: 100%; text-align: center; margin-top: 100px;}.left{width: 100%;text-align: center;}    
    .left img{
        width: 25%;margin: 20px;
    }
}
